
.card{
    height:380px;
    width: 250px;
    background-color:#820000;
    margin: 20px 50px;
    padding: 0px;
    border-radius: 10px;
}
.card:hover{
   border:2px solid white;
   transition: all 10 sec;
}
img{
    height: 250px;
    width: 180px;
    margin: 0px 35px;
    margin-top: 28px;
}
